@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Oswald');

body {
    background-color: #f3f3f4;
    min-width: 380px;
}

/* general layout */
.layout {
    position: relative;
}

/* top bar left  */
.top-bar-left {
    background-color: #532b6d;
    font-family: 'Oswald', sans-serif;
    font-size: 18pt;
    color: #FFF;
    min-height: 80px;
    line-height: 38px;
}

.content-left {
    padding: 10px;
    background-color: #fff;
    border-left: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
}

/* top bar right  */
.top-bar-right {
    background-color: #fff;
    font-family: 'Assistant', sans-serif;
    font-size: 20pt;
    font-weight: bold;
    color: #6f6f6f;
    text-align: center;
    vertical-align: middle;
    height: 80px;
    line-height: 80px;
}

/* right content - loan options */
.content-right {    
    background-color: #fafafa;
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-top: 1px solid #ced4da;
}

.content-right-bottom {
    background-color: #fafafa;
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
}

.single-option > div {
    border: 1px solid #ced4da;
}
.single-option-title {
    height: 50px;
    line-height: 50px;
    font-family: 'Assistant', sans-serif;
    text-align: center;
}

.single-option > .one {
    background-color: #532b6d;
    color: #fff;
}

.single-option > .two {
    background-color: #3e91b0;
    color: #fff;
}

.single-option > .three {
    background-color: #fdb443;
    color: #fff;
}

.single-option-body {
    font-family: 'Assistant', sans-serif;
    background-color: #fff;
}

.single-option-body > div > .rate {
    text-align: right;
}

.single-option-body > div > .ltv {
    color: #aaaaaa;
}

.single-option-body > div > .one {
    color: #532b6d;
}

.single-option-body > div > .two {
    color: #3e91b0;
}

.single-option-body > div > .three {
    color: #fdb443;
}


/* right content - what's next */
.next {
    background-color: #fff;
    border: 1px solid #ced4da;
}
.next > .title {
    text-align: center;
    font-family: 'Assistant', sans-serif;
    font-size: 16pt;
}

.next > .description {
    text-align: center;
    font-family: 'Assistant', sans-serif;
    font-size: 11pt;
}



/* input controls  */

label, select, .link-button {
    font-family: 'Assistant', sans-serif;
    font-size: 10pt;
    font-weight: bold;
}

.button-placeholder {
    text-align: center;
}

.link-button {
    color: #8ac64a;
    font-weight: bold;
    font-size: 14pt;
}

.btn-success {
    text-decoration: none;
    border: 0px;
    font-family: 'Assistant', sans-serif;
    background-color: #85c342 !important;
}

.btn-link {
    font-family: 'Assistant', sans-serif;
    color: #85c342 !important;
    font-weight: bold;
}



/* media screen adjustment */

@media screen and (max-width: 768px) {
    .top-bar-left {
        line-break: strict;;
        vertical-align: middle;
        text-align: center;
    }
}